In [23]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [24]:
df = pd.read_csv('/content/drive/MyDrive/Project_HK1_2022/Data_Visualization/data/data_Mực_Nước/Mulgrave_nomiss.csv')
df

,Timestamp,Q,Conductivity,NO3,Temp,Turbidity,Level,Dayofweek,Month
0,2016-12-08T12:00:00,-65.325500,12192.00,NaN,NaN,11.20,NaN,3,12
1,2016-12-08T13:00:00,-100.236500,15084.50,NaN,NaN,7.30,NaN,3,12
2,2016-12-08T14:00:00,-68.786167,17977.00,NaN,NaN,3.40,NaN,3,12
3,2016-12-08T15:00:00,-75.861500,24524.50,NaN,NaN,4.30,NaN,3,12
4,2016-12-08T16:00:00,-32.543000,31072.00,NaN,NaN,5.20,NaN,3,12
...,...,...,...,...,...,...,...,...,...
29047,2020-04-01T19:00:00,208.612333,0.47,NaN,25.830,3.49,NaN,2,4
29048,2020-04-01T20:00:00,222.519833,33.79,NaN,25.695,8.02,NaN,2,4
29049,2020-04-01T21:00:00,217.058833,67.11,NaN,25.560,12.55,NaN,2,4
29050,2020-04-01T22:00:00,210.010000,NaN,NaN,NaN,NaN,NaN,2,4
29051,2020-04-01T23:00:00,209.675167,NaN,NaN,NaN,NaN,NaN,2,4

## Data 2019 theo giờ

In [ ]:
gio = df.copy()
gio

,Timestamp,Q,Conductivity,NO3,Temp,Turbidity,Level,Dayofweek,Month
0,2016-12-08T12:00:00,-65.325500,12192.00,NaN,NaN,11.20,NaN,3,12
1,2016-12-08T13:00:00,-100.236500,15084.50,NaN,NaN,7.30,NaN,3,12
2,2016-12-08T14:00:00,-68.786167,17977.00,NaN,NaN,3.40,NaN,3,12
3,2016-12-08T15:00:00,-75.861500,24524.50,NaN,NaN,4.30,NaN,3,12
4,2016-12-08T16:00:00,-32.543000,31072.00,NaN,NaN,5.20,NaN,3,12
...,...,...,...,...,...,...,...,...,...
29047,2020-04-01T19:00:00,208.612333,0.47,NaN,25.830,3.49,NaN,2,4
29048,2020-04-01T20:00:00,222.519833,33.79,NaN,25.695,8.02,NaN,2,4
29049,2020-04-01T21:00:00,217.058833,67.11,NaN,25.560,12.55,NaN,2,4
29050,2020-04-01T22:00:00,210.010000,NaN,NaN,NaN,NaN,NaN,2,4
29051,2020-04-01T23:00:00,209.675167,NaN,NaN,NaN,NaN,NaN,2,4

In [ ]:
gio = gio[(gio['Timestamp']>='2019-01-01T00:00:00') & (gio['Timestamp']<='2019-12-31T23:00:00')]
gio

,Timestamp,Q,Conductivity,NO3,Temp,Turbidity,Level,Dayofweek,Month
18084,2019-01-01T00:00:00,387.069000,53.620,0.1340,25.440,8.630,15.785000,1,1
18085,2019-01-01T01:00:00,381.610143,54.490,0.1365,25.420,8.755,15.755000,1,1
18086,2019-01-01T02:00:00,373.262400,55.360,0.1390,25.400,8.880,15.740000,1,1
18087,2019-01-01T03:00:00,359.115571,54.105,0.1455,25.385,8.465,15.730000,1,1
18088,2019-01-01T04:00:00,333.554000,52.850,0.1520,25.370,8.050,15.787500,1,1
...,...,...,...,...,...,...,...,...,...
26839,2019-12-31T19:00:00,104.908167,2470.110,0.2565,27.895,8.270,14.846667,1,12
26840,2019-12-31T20:00:00,76.108000,1836.810,0.2740,27.700,8.590,14.775000,1,12
26841,2019-12-31T21:00:00,77.197000,1161.440,0.2940,27.390,8.780,14.735000,1,12
26842,2019-12-31T22:00:00,57.603250,854.010,0.3135,27.255,8.170,14.710000,1,12
26843,2019-12-31T23:00:00,11.355000,546.580,0.3330,27.120,7.560,14.766667,1,12

In [ ]:
gio.isnull().sum()

Timestamp       0
Q               0
Conductivity    0
NO3             0
Temp            0
Turbidity       0
Level           0
Dayofweek       0
Month           0
dtype: int64

In [ ]:
gio.shape

(8760, 9)

In [ ]:
gio = gio.set_index('Timestamp')
gio

In [ ]:
gio.to_csv('Mulgrave_2019_Theo_Gio_NoMiss.csv')

## Data theo ngay

In [ ]:
ngay = df.copy()
ngay = ngay[(ngay['Timestamp']>='2019-01-01T00:00:00') & (ngay['Timestamp']<='2019-12-31T23:00:00')]
ngay_temp = ngay.copy()
ngay = pd.DataFrame(ngay['Timestamp'])
ngay = ngay.join(ngay['Timestamp'].str.split('T', 1, expand=True).rename(columns={0:'Date', 1:'Time'}))
ngay

                 Timestamp        Date      Time
18084  2019-01-01T00:00:00  2019-01-01  00:00:00
18085  2019-01-01T01:00:00  2019-01-01  01:00:00
18086  2019-01-01T02:00:00  2019-01-01  02:00:00
18087  2019-01-01T03:00:00  2019-01-01  03:00:00
18088  2019-01-01T04:00:00  2019-01-01  04:00:00
...                    ...         ...       ...
26839  2019-12-31T19:00:00  2019-12-31  19:00:00
26840  2019-12-31T20:00:00  2019-12-31  20:00:00
26841  2019-12-31T21:00:00  2019-12-31  21:00:00
26842  2019-12-31T22:00:00  2019-12-31  22:00:00
26843  2019-12-31T23:00:00  2019-12-31  23:00:00

[8760 rows x 3 columns]

In [ ]:
ngay.drop('Timestamp', axis=1, inplace=True)
ngay[['Q',	'Conductivity',	'NO3',	'Temp',	'Turbidity',	'Level',	'Dayofweek',	'Month']] = ngay_temp[['Q',	'Conductivity',	'NO3',	'Temp',	'Turbidity',	'Level',	'Dayofweek',	'Month']]
ngay

,Date,Time,Q,Conductivity,NO3,Temp,Turbidity,Level,Dayofweek,Month
18084,2019-01-01,00:00:00,387.069000,53.620,0.1340,25.440,8.630,15.785000,1,1
18085,2019-01-01,01:00:00,381.610143,54.490,0.1365,25.420,8.755,15.755000,1,1
18086,2019-01-01,02:00:00,373.262400,55.360,0.1390,25.400,8.880,15.740000,1,1
18087,2019-01-01,03:00:00,359.115571,54.105,0.1455,25.385,8.465,15.730000,1,1
18088,2019-01-01,04:00:00,333.554000,52.850,0.1520,25.370,8.050,15.787500,1,1
...,...,...,...,...,...,...,...,...,...,...
26839,2019-12-31,19:00:00,104.908167,2470.110,0.2565,27.895,8.270,14.846667,1,12
26840,2019-12-31,20:00:00,76.108000,1836.810,0.2740,27.700,8.590,14.775000,1,12
26841,2019-12-31,21:00:00,77.197000,1161.440,0.2940,27.390,8.780,14.735000,1,12
26842,2019-12-31,22:00:00,57.603250,854.010,0.3135,27.255,8.170,14.710000,1,12
26843,2019-12-31,23:00:00,11.355000,546.580,0.3330,27.120,7.560,14.766667,1,12

In [ ]:
ngay_groupby = ngay.groupby('Date').mean()
ngay_groupby

,Q,Conductivity,NO3,Temp,Turbidity,Level,Dayofweek,Month
Date,,,,,,,,
2019-01-01,318.067079,54.446042,0.150958,25.855417,7.564375,15.803979,1.0,1.0
2019-01-02,249.989918,64.315625,0.158958,26.443958,6.977500,15.626612,2.0,1.0
2019-01-03,196.128067,68.088542,0.147771,26.703542,6.779583,15.459925,3.0,1.0
2019-01-04,145.327180,72.586667,0.144833,26.727708,6.270208,15.298846,4.0,1.0
2019-01-05,112.578941,81.704375,0.149958,26.984792,6.375833,15.232389,5.0,1.0
...,...,...,...,...,...,...,...,...
2019-12-27,16.616211,14206.398125,0.045375,28.541667,7.504375,14.971728,4.0,12.0
2019-12-28,29.347156,9688.272771,0.091813,28.154792,5.246250,14.984101,5.0,12.0
2019-12-29,50.351510,9666.640000,0.042437,27.839375,4.960625,14.983149,6.0,12.0
2019-12-30,47.494699,961.865833,0.403104,26.757292,14.585000,14.988018,0.0,12.0
2019-12-31,31.869660,2743.890000,0.431625,27.413125,10.254375,14.952780,1.0,12.0

In [ ]:
ngay_groupby.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2019-01-01 to 2019-12-31
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Q             365 non-null    float64
 1   Conductivity  365 non-null    float64
 2   NO3           365 non-null    float64
 3   Temp          365 non-null    float64
 4   Turbidity     365 non-null    float64
 5   Level         365 non-null    float64
 6   Dayofweek     365 non-null    float64
 7   Month         365 non-null    float64
dtypes: float64(8)
memory usage: 33.8+ KB

In [ ]:
ngay_groupby.to_csv('Mulgrave_2019_Theo_Ngay_NoMiss.csv')

In [25]:
print(ngay_groupby.shape, gio.shape)

(365, 8) (8760, 8)